/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'PT Sans', sans-serif; */
* {
  font-family: "PT Sans", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
}

.general-container {
  width: 90%;
  margin: 2em auto;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  font-size: 1.5rem;
  border: 1px solid blue;
  display: flex;
}

header h2 {
  margin-top: 0;
}

.profile-pic-container {
  border: 1px solid red;
  width: 40%;
  position: relative;
}

header img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-pic-container h1 {
  color: white;
  border: 1px solid yellowgreen;
  position: absolute;
  bottom: 5%;
  width: 100%;
  text-align: center;
  margin: 0;
}

.about-container {
  width: 60%;
  background-color: bisque;
  padding: 1em;
  border: 1px solid black;
  align-self: center;
}

.profile-links {
  display: flex;
  justify-content: end;
  gap: 1em;
}

/* Main */
main {
  font-size: 1.5rem;
}
main h2 {
  margin-top: 3em;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 1.5em;
  border: 1px solid red;
}

.card {
  border: 1px solid brown;
}

.project-img-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70%;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


